<h1>To Do List</h1>
<form action="/car_added" method="post">
  <label for="new-model">Make and Model:</label>
  <input id="new-model" name="new-model" type="text">

  <label for="new-price">Price:</label>
  <input id="new-price" name="new-price" type="text">

  <label for="new-mile">Miles:</label>
  <input id="new-mile" name="new-mile" type="text">
  <button type="submit">Enter</button>
</form>
