<h1>To Do List</h1>
<ul>
  @foreach(var car in Model)
  {
    <li>@car.GetModel()</li>
    <li>@car.GetPrice()</li>
    <li>@car.GetMile()</li>
  }
</ul>
<p><a href="/">Add another car here!</a></p>
<form action="/cars_cleared" method="post">
  <button type="submit" name="button">Clear All Cars Now!</button>
</form>
